@import '../../node_modules/vuetify/src/stylus/settings/_colors'
 
$theme := {
  primary: $blue.darken-2
  accent: $pink.accent-2
  secondary: $blue.lighten-1
  info: $blue.lighten-1
  warning: $amber.darken-2
  error: $red.accent-4
  success: $green.lighten-2
}

@import '../../node_modules/vuetify/src/stylus/settings/_variables'
@import '../../node_modules/vuetify/src/stylus/tools/_mixins'
@import '../../node_modules/vuetify/src/stylus/generic/_reset'
@import '../../node_modules/vuetify/src/stylus/generic/_grid'
@import '../../node_modules/vuetify/src/stylus/generic/_bootstrap'

@import '../../node_modules/vuetify/src/stylus/elements/_global'
@import '../../node_modules/vuetify/src/stylus/elements/_headings'
@import '../../node_modules/vuetify/src/stylus/elements/_typography'

@import '../../node_modules/vuetify/src/stylus/components/_breadcrumbs'
@import '../../node_modules/vuetify/src/stylus/components/_buttons'

@import '../../node_modules/vuetify/src/stylus/components/_cards'

@import '../../node_modules/vuetify/src/stylus/components/_dividers'
@import '../../node_modules/vuetify/src/stylus/components/_expansion-panel'

@import '../../node_modules/vuetify/src/stylus/components/_footer'
@import '../../node_modules/vuetify/src/stylus/components/_lists'
@import '../../node_modules/vuetify/src/stylus/components/_menus'
@import '../../node_modules/vuetify/src/stylus/components/_toolbar'

@import '../../node_modules/vuetify/src/stylus/components/_progress-circular'
@import '../../node_modules/vuetify/src/stylus/components/_progress-linear'
@import '../../node_modules/vuetify/src/stylus/components/_ripple'
@import '../../node_modules/vuetify/src/stylus/components/_select'
@import '../../node_modules/vuetify/src/stylus/components/_sidebar'

@import '../../node_modules/vuetify/src/stylus/components/_subheaders'

@import '../../node_modules/vuetify/src/stylus/components/_text-fields'


@import '../../node_modules/vuetify/src/stylus/trumps/_app'
@import '../../node_modules/vuetify/src/stylus/trumps/_display'
@import '../../node_modules/vuetify/src/stylus/trumps/_helpers'
@import '../../node_modules/vuetify/src/stylus/trumps/_spacing'
@import '../../node_modules/vuetify/src/stylus/trumps/_text'
