// @import '../../node_modules/vuetify/src/stylus/settings/_colors'
// @import '../../node_modules/vuetify/src/stylus/settings/_variables'
// @import '../../node_modules/vuetify/src/stylus/tools/_mixins'

@import '../../node_modules/vuetify/src/stylus/components/_input-groups'
@import '../../node_modules/vuetify/src/stylus/components/_select'
@import '../../node_modules/vuetify/src/stylus/components/_selection-controls'
@import '../../node_modules/vuetify/src/stylus/components/_text-fields'
//@import '../../node_modules/vuetify/src/stylus/components/_menus'

// // @TODO: These styles should be check when vuetify will be updated
// .input-group--select .menu .menu__content {
// 	min-width: 300px !important;
// 	width: 99%;
// }