@import '../../node_modules/vuetify/src/stylus/settings/_colors'
 
$theme := {
  primary: $blue.darken-2
  accent: $pink.accent-2
  secondary: $blue.lighten-1
  info: $blue.lighten-1
  warning: $amber.darken-2
  error: $red.accent-4
  success: $green.lighten-2
}

@import './roboto-material-icons'
@import '../../node_modules/vuetify/src/stylus/settings/_variables'
@import '../../node_modules/vuetify/src/stylus/tools/_mixins'
@import '../../node_modules/vuetify/src/stylus/generic/_reset'
@import '../../node_modules/vuetify/src/stylus/generic/_grid'
@import '../../node_modules/vuetify/src/stylus/generic/_bootstrap'
@import '../../node_modules/vuetify/src/stylus/generic/_transitions'
@import '../../node_modules/vuetify/src/stylus/elements/_blockquote'
@import '../../node_modules/vuetify/src/stylus/elements/_code'
@import '../../node_modules/vuetify/src/stylus/elements/_global'
@import '../../node_modules/vuetify/src/stylus/elements/_headings'
@import '../../node_modules/vuetify/src/stylus/elements/_typography'
@import '../../node_modules/vuetify/src/stylus/components/_alerts'
@import '../../node_modules/vuetify/src/stylus/components/_avatars'
@import '../../node_modules/vuetify/src/stylus/components/_badges'
@import '../../node_modules/vuetify/src/stylus/components/_breadcrumbs'
@import '../../node_modules/vuetify/src/stylus/components/_buttons'
@import '../../node_modules/vuetify/src/stylus/components/_button-dropdown'
@import '../../node_modules/vuetify/src/stylus/components/_button-toggle'
@import '../../node_modules/vuetify/src/stylus/components/_cards'
@import '../../node_modules/vuetify/src/stylus/components/_carousel'
@import '../../node_modules/vuetify/src/stylus/components/_chips'
@import '../../node_modules/vuetify/src/stylus/components/_datatables'
@import '../../node_modules/vuetify/src/stylus/components/_date-picker'
@import '../../node_modules/vuetify/src/stylus/components/_dialogs'
@import '../../node_modules/vuetify/src/stylus/components/_dividers'
@import '../../node_modules/vuetify/src/stylus/components/_expansion-panel'
@import '../../node_modules/vuetify/src/stylus/components/_icons'
@import '../../node_modules/vuetify/src/stylus/components/_input-groups'
@import '../../node_modules/vuetify/src/stylus/components/_footer'
@import '../../node_modules/vuetify/src/stylus/components/_lists'
@import '../../node_modules/vuetify/src/stylus/components/_menus'
@import '../../node_modules/vuetify/src/stylus/components/_toolbar'
@import '../../node_modules/vuetify/src/stylus/components/_overlay'
@import '../../node_modules/vuetify/src/stylus/components/_pagination'
@import '../../node_modules/vuetify/src/stylus/components/_parallax'
@import '../../node_modules/vuetify/src/stylus/components/_pickers'
@import '../../node_modules/vuetify/src/stylus/components/_progress-circular'
@import '../../node_modules/vuetify/src/stylus/components/_progress-linear'
@import '../../node_modules/vuetify/src/stylus/components/_ripple'
@import '../../node_modules/vuetify/src/stylus/components/_select'
@import '../../node_modules/vuetify/src/stylus/components/_selection-controls'
@import '../../node_modules/vuetify/src/stylus/components/_sidebar'
@import '../../node_modules/vuetify/src/stylus/components/_sliders'
@import '../../node_modules/vuetify/src/stylus/components/_small-dialog'
@import '../../node_modules/vuetify/src/stylus/components/_subheaders'
@import '../../node_modules/vuetify/src/stylus/components/_steppers'
@import '../../node_modules/vuetify/src/stylus/components/_tables'
@import '../../node_modules/vuetify/src/stylus/components/_tabs'
@import '../../node_modules/vuetify/src/stylus/components/_text-fields'
@import '../../node_modules/vuetify/src/stylus/components/_time-picker'
@import '../../node_modules/vuetify/src/stylus/components/_toasts'
@import '../../node_modules/vuetify/src/stylus/components/_tooltips'
@import '../../node_modules/vuetify/src/stylus/trumps/_app'
@import '../../node_modules/vuetify/src/stylus/trumps/_display'
@import '../../node_modules/vuetify/src/stylus/trumps/_helpers'
@import '../../node_modules/vuetify/src/stylus/trumps/_spacing'
@import '../../node_modules/vuetify/src/stylus/trumps/_text'
@import '../../node_modules/vuetify/src/stylus/components/_snackbars'
@import '../../node_modules/vuetify/src/stylus/components/_bottom-nav'
