$black: #424242;
$white: #fff;

body {
  word-wrap: break-word;
  padding-top:64px;
  height:100%;
}

a {
  text-decoration: none;
    &:hover {
      text-decoration:underline;
    }
}

header .breadcrumbs {
  justify-content:left;
  li:first-child a {
    padding-left:0;
  }
  a.breadcrumbs__item {
    padding-left: 0;
    padding-right: 0;
  }
}

.content-panel.expansion-panel {
  box-shadow: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  li {
    border: none;
    position: relative;
    .expansion-panel__header {
      &:after {
        font-size: 2rem;
      }
    }
    .expansion-panel__header,
    .expansion-panel__header--active {
      padding-left:0 !important;
    }

    .expansion-panel__body {
      background-color: #fff;
      border: none;
    }
  }
}

.md-sidenav {
  .md-sidenav-content {
    width: 256px;

    .md-list-item-container {
      padding:0;
      margin: 0;
    }

    .md-button {
      margin:0;
      display: flex;
      flex: 1;
    }
  }
  
  .md-title {
    span {
      display: inline-flex;
      vertical-align: middle;
    }
  }

  .md-list {
    padding:0;
    margin:0;
  }

}

#ofertadeo .toolbar {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.title { word-break: break-word; }

.main-content {
  padding: 1.5rem;
}

.content {
  padding: 0.5rem;
}

.card__row--actions {
  background-color: rgba(0,0,0,0.5);
}

.item {
  &__img {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: center;
  }
  &__name {
    justify-content: center;
  }
}

.promotion ul {
  padding-left: 1rem;
  margin-bottom: 1rem;
  ul {
    margin-bottom: 0;
  }
  li {
    padding-top:0.3rem;
    padding-bottom:0.3rem;
  }
}

.expansion-panel__header:after {
  content: '❮' !important;
  font-size: 1.5rem !important;
  margin-top: 0.5rem !important;
  transform: rotate(-90deg) !important;
  font-weight: bold;
}

.expansion-panel__header--active:after {
  transform: rotate(90deg) !important;
}

form .input-group--select.input-group--focused.input-group--dirty .input-group--select__autocomplete {
  margin: 0 0;
}

/* Visually hidden*/
.visually-hidden {
   clip: rect(1px 1px 1px 1px); /* IE 6/7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; /* added line */
    width: 1px;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 500;
}

h1, h1.title {
  font-size: 1.6rem;
}

h2, h2.title {
  font-size: 1.4rem;
}

h3, h3.title {
  font-size: 1.2rem;
}

h4, h4.title {
  font-size: 1rem;
}

.btn {
  min-height: 36px;
  height: auto;
  text-transform: none;
  span {
    white-space: initial;
  }
}

main {
  //to avoid flex css properties
  display: block;
}