.md-sidenav {
  .md-sidenav-content {
    width: 256px;

    .md-list-item-container {
      padding:0;
      margin: 0;
    }

    .md-button {
      margin:0;
      display: flex;
      flex: 1;
    }
  }
  
  .md-title {
    span {
      display: inline-flex;
      vertical-align: middle;
    }
  }

  .md-list {
    padding:0;
    margin:0;
  }

}

.main-content {
  padding: 1.5rem;
}

a:hover,
a:not(.md-button):not(.md-bottom-bar-item):hover { text-decoration: none;}

.content {
  padding: 1rem;
}

.card__row--actions {
  background-color: rgba(0,0,0,0.5);
}


.promotion {
  .thumbnail img {
    float:left;
  }
}